<!--
PROJETO DE PROGRAMAÇÃO - 50 HORAS
FORMADOR: PAULO JORGE

TEMA: WEB RPG CREATION
FORMANDO: RODRIGO FERNANDES - Nº 13

RAZOR VIEW PARA MOSTRAR LAYOUT BÁSICO REFERENTE AO DETALHAR DO MODELO ESPECIALIDADE
-->

@model WebRPGCreation.Models.Especialidade

@{
    ViewData["Title"] = "Detalhes da Especialidade";
}
<br />
<h1><b>DETALHES</b></h1>
<p></p>
<div>
    <h4><b>Especialidade</b></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <b>Nome</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            <b>Descrição</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            <b>Personagem</b>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personagem.Nome)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> &nbsp;
    <a type="button" class="btn btn-secondary" asp-action="Index">Voltar</a>
</div>
