<!--
        PROJETO DE PROGRAMAÇÃO - 50 HORAS
        FORMADOR: PAULO JORGE

        TEMA: WEB RPG CREATION
        FORMANDO: RODRIGO FERNANDES - Nº 13

        RAZOR VIEW PARA MOSTRAR LAYOUT BÁSICO PARA APRESENTAÇÃO DAS MENSAGENS DE STATUS
        -->

@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}
