@page
    <!--
    PROJETO DE PROGRAMAÇÃO - 50 HORAS
    FORMADOR: PAULO JORGE

    TEMA: WEB RPG CREATION
    FORMANDO: RODRIGO FERNANDES - Nº 13

    RAZOR VIEW PARA MOSTRAR LAYOUT BÁSICO PARA CONFIRMAÇÃO DE ALTERAÇÃO DE EMAIL
    -->

    @model ConfirmEmailChangeModel
    @{
        ViewData["Title"] = "Confirm email change";
    }

    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
