@page
    <!--
    PROJETO DE PROGRAMAÇÃO - 50 HORAS
    FORMADOR: PAULO JORGE

    TEMA: WEB RPG CREATION
    FORMANDO: RODRIGO FERNANDES - Nº 13

    RAZOR VIEW PARA MOSTRAR LAYOUT BÁSICO PARA CONFIRMAR SENHA ESQUECIDA (SEM UTILIZAÇÃO)
    -->

    @model ForgotPasswordConfirmation
    @{
        ViewData["Title"] = "CONFIRMAÇÃO DA SENHA ESQUECIDA";
    }
    <br />
    <h1><b>@ViewData["Title"]</b></h1>
    <p></p>
    <p>
        <b>
            Por favor, verifique seu email para redefinir sua senha.
        </b>
    </p>
