@page
    <!--
    PROJETO DE PROGRAMAÇÃO - 50 HORAS
    FORMADOR: PAULO JORGE

    TEMA: WEB RPG CREATION
    FORMANDO: RODRIGO FERNANDES - Nº 13

    RAZOR VIEW PARA MOSTRAR LAYOUT BÁSICO PARA REALIZAÇÃO DE REENVIO DE CONFIRMAÇÃO DE EMAILS
    -->

    @model ResendEmailConfirmationModel
    @{
        ViewData["Title"] = "REENVIAR CONFIRMAÇÃO POR EMAIL";
    }
    <br />
    <h1><b>@ViewData["Title"]</b></h1>
    <p></p>
    <h2><b>Insira seu email.</b></h2>
    <hr />
    <p></p>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-success"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <p></p>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reenviar</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
